body{
    background-color: white;
}
.logo{
	width: 50px;
}
.logobody{
	width: 200px;
}

.botonera li{
	display: inline-block;
	margin-left: 8px;
	font-weight: 700;
	font-size: 20px;
}
.botonera li a{
	color:rgb(190, 155, 94)
}
.botonera li a:hover{
	color: white;
	text-decoration: none;
}
