@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    font-family: "roboto";
    scroll-behavior: smooth;
}
header{
    background-color: #F0A83E;
}
/*#############################top-head#############################*/
header .toptittle{
    display: flex;
    background-color: black;
    color: white;
    justify-content: flex-end;
}

.ofert{
    left: 10%;
}
.idioma{
    background-color: black;
    color: white;
}
.moneda{
    background-color: black;
    color: white;
}
/*#############################bot-head#############################*/
.rectangle2{
    display: flex;
    justify-content: space-between;
}
.Textcyd{
    position: relative;
    padding: 20px;
    bottom: 10px;
}
.titulo{
    color: white;
}
.img-logo{
    width: 25px;
}
.botonera{
    position: relative;
    list-style-type: none;
    padding: 20px;

}
.boton{
    text-decoration: none;
    color: white;
    padding: 10px;
    transition: 1s;
}
.boton:hover {
    box-shadow: inset 0 0 20px rgba(102, 59, 3, 0.781), 0 0 20px rgba(102, 59, 3, 0.781);
    outline-color: rgba(49, 138, 172, 0);
    outline-offset: 80px;
    text-shadow: 1px 1px 6px #fff;
}
/*#############################main#############################*/
.container{
    display: flex;
    background-image: url(../img/pet-backgorund.png);
    padding: 200px;
    background-repeat: no-repeat;
    background-size: cover;
}
.banner-main{
    position: relative;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-end;
    align-items: center;
    left: 500px;
}
.titulo-banner{
    background-color: white;
    padding: 10px;
    color: #3C2313;
    font-size: 40px;
    border-radius: 10px;
    font-weight: 400px;

}
.subtitulo-banner{
    padding: 10px;
    color: #3C2313;
}
.botonera-main{
    text-decoration: none;
    text-align:center;
    background-color:#F0A83E;
    color: white;
    font-size: 20px;
    padding: 14px;
    border-radius:5%;
    transition: 1s;}
    
.botonera-main:hover {
    box-shadow: inset 0 0 20px rgba(102, 59, 3, 0.781), 0 0 20px rgba(102, 59, 3, 0.781);
    outline-color: rgb(255, 255, 255);
    outline-offset: 80px;
    text-shadow: 1px 1px 6px #fff;
}
.hamburguesa {
    display: none;
    opacity: 0;
}
/*#############################top-main#############################*/

.top-main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.huella{
    padding: 20px;
    width: 134px;
    height: 142px;
}
.title-main{
    color: #3C2313;
    font-size: 50px;
    padding: 10px;
    font-weight: 700;
}
.botones-main{
    position: relative;
    padding: 20px;
    display: flex;
}
.boton-main{
    padding: 10px;
    text-decoration: none;
    font-size: 20px;
    color: #666666;
    font-weight: 400;
}
/*#############################mid-main#############################*/

.mid-main{
    display: flex;
    justify-content: space-around;
    text-align: center;
}

/*#############################bot-main#############################*/
li{
    text-decoration: none;
}
.bot-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
}
.list-form{
    list-style-type: none;
    padding: 10px;
}

.input{
    background-color: #3C2313;
    color: white;
    width: 340px;
    height: 50px;
    border-radius: 15px;
    border-color: #3C2313;
    margin: 5px;
    padding: 20px;
}
.input::placeholder{
    color: white;
    padding: 10px;
}
.inputs{
    display: flex;
    justify-content: center;
}
.inputs input[type="submit"]{
    margin: 40px 0 80px 0;
    background-color:#F0A83E ;
    border: none;
    border-radius: 15px;
    padding: 10px 35px;
    font-size: 16px;
    cursor: pointer;
    transition: 1s;
}
.inputs input[type="reset"]{
    margin: 40px 0 80px 0;
    background: #8A8787;
    border: none;
    border-radius: 15px;
    padding: 10px 25px;
    font-size: 16px;
    cursor: pointer;
    transition: 1s;
}
input[type="reset"]:hover {
    box-shadow: inset 0 0 20px rgba(102, 59, 3, 0.781), 0 0 20px rgba(102, 59, 3, 0.781);
    outline-color: rgb(255, 255, 255);
    outline-offset: 80px;
    text-shadow: 1px 1px 6px #fff;
}
input[type="submit"]:hover{
    box-shadow: inset 0 0 20px rgba(102, 59, 3, 0.781), 0 0 20px rgba(102, 59, 3, 0.781);
    outline-color: rgb(255, 255, 255);
    outline-offset: 80px;
    text-shadow: 1px 1px 6px #fff;
}
.input .input ::placeholder {
    color: #f2f2f2;
}
/*#############################top-footer#############################*/
.top-footer{
    background-color:#F0A83E;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}
.fa-envelope:before {
padding: 10px;
}
ul{
    list-style:none;
}
.funciona{
    display: flex;
    align-items: center;
}
.input1{
    background-color: white;
    color: black;
    width: 340px;
    height: 40px;
    border-radius: 15px;
    border-color: white;
    margin: 5px;
}
.input1::placeholder{
    color: #A0A0A0;
    padding: 10px;
}
.inputs2{
    margin: 40px 0 40px 0;
    background: #3C2313;
    border: none;
    border-radius: 15px;
    padding: 10px 25px;
    font-size: 16px;
    cursor: pointer;
    color: white;
    transition: 1s;
}
.inputs2:hover{
    box-shadow: inset 0 0 20px rgba(102, 59, 3, 0.781), 0 0 20px rgba(102, 59, 3, 0.781);
    outline-color: rgb(255, 255, 255);
    outline-offset: 80px;
    text-shadow: 1px 1px 6px #fff;
}
.subscribete{
    position: relative; /*line para acomodar textos*/
    color: white;

}
.bot-footer{
    background-color:#3C2313;
    display: flex;
    justify-content: space-between;
}
.logo-footer img{
    display: flex;
    flex-direction: column;
    padding:15px;
}
.text-logo{
    display: flex;
    flex-direction: column;
    justify-content:space-around;
}
.encierro{
    display: flex;
}
.text-logo h4{
    color: white;
}
.text-logo p{
    color: #666666;
    font-size: small;
}
.logo-footer-oficial{
    position: relative;
    display: flex;
    align-items: center;    
}
.Textcyd1{
    color:white
}
.titulo1{
    color:#F0A83E
}
.copyright{
    background-color: #222222;
    color: white;
    text-align: center;
    font-size: small;
}

@media screen and (max-width: 767px){
    .ofert {
        /* position: absolute; */
        left: 10%;
    }
    .Textcyd{
        margin-left: 20px;
        font-size: 25px;
        display: flex;
        align-items: center;
    }
    .botonera{
        display: none;
    }
    .hamburguesa {
        display: block;
        margin-right: 10px;
        font-size: 50px;
        cursor: pointer;
        opacity: 1;
    }
    .mid-main {
        flex-direction: column;
        justify-content: center;
    }
    .container{
        display: flex;    
        padding: 20px;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: flex-end;
        justify-content: center;
        align-items: flex-end;
        position: relative;
    }
    .banner-main{
        left: auto;
    }
    .titulo-banner{
        font-size: 20px;
    }
    .botones-main{
        list-style: none;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .card {
        width: auto;
        padding: 10px 0;
        margin: 15px 0;
    }
    .funciona{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start
    }
    .top-footer {
        background-color: #F0A83E;
        display: flex;
        justify-content: center;
        padding: 10px;
        align-items: baseline;
        flex-wrap: wrap;
        flex-direction: column;
        align-content: flex-start;
        padding: 50px;
    }
    .input1 {
        background-color: white;
        color: black;
        width: 240px;
        height: 40px;
        border-radius: 15px;
        border-color: white;
        margin: 5px;
    }
    .input{
        width: auto;
    }
    .subscribete{
        font-size: 20px;
    }
    .logo-footer img {
        display: flex;
        flex-direction: column;
        padding: 35px;
    }
    .Textcyd1{
        display: none;
    }
}